.App {
  text-align: center;
}

/*  for goggle map style  */
/* .mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 536px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 536px;
} */
/*  for goggle map style  */
